{{> navBar}}

{{#if users.1.service_provider}}
<h1 class="profile-heading white-text center">Pet {{users.1.role}}s</h1>
{{/if}}
{{#if users.1.pet_owner}}
<h1 class="profile-heading white-text center">Pet Owners</h1>
{{/if}}
<div class="container">

    {{#each users}}

    <div class="col s12 m9">
        <h2 class="header white-text">{{first_name}} {{last_name}}</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="./images/site/rrrdachshund_blue_shop_thumb.png">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Pet {{role}}</p>
                    <p>Where am I: Salt Lake City</p>
                    <p>Average Rating: ****</p>
                </div>
                <div class="card-action">
                    <a href="./userProfile?id={{id}}">More Info</a>
                </div>
            </div>
        </div>
    </div>

    {{else}}
    <p>No Providers match your criteria</p>
    {{/each}}
</div>


<script src="./js/results.js"></script>