{{> navBar}}

<div class="container grey lighten-4">

    <div id="profile-header" style="background-image: url('./images/site/index.jpeg')">
    </div>

    <div class="content-padding">

        {{#each users}}

        {{!-- profile image and stats --}}
        <div class="row">
            <div class="col s12 m4">
                <div class="card butlr-blue">
                    <div class="card-image profile-image"
                        style="background-image: url('{{#if image}}{{image}}{{else}}{{#if pet_owner}}./images/site/default-profile-2.jpg{{else}}./images/site/default-profile-3.jpg{{/if}}{{/if}}')">
                    </div>

                    <div class=" card-content white-text">

                        <textarea id="user-first-name" class="materialize-textarea white-text"
                            placeholder="{{first_name}}"></textarea>
                        <label for="user-first-name">First</label>

                        <textarea id="user-last-name" class="materialize-textarea white-text"
                            placeholder="{{last_name}}"></textarea>
                        <label for="user-last-name">Last</label>

                        <textarea id="user-image-url" class="materialize-textarea white-text"
                            placeholder="{{image}}"></textarea>
                        <label for="user-image-url">image url</label>

                        <div class="row">
                            <div class="input-field col s12">
                                <select id="user-role" class="white-text">
                                    <option value="" disabled selected>{{role}}</option>
                                    <option value="Owner">Owner</option>
                                    <option value="Walker">Walker</option>
                                    <option value="Groomer">Groomer</option>
                                    <option value="Sitter">Sitter</option>
                                </select>
                                <label for="user-role">Role</label>
                            </div>
                        </div>

                        <textarea id="user-location" class="materialize-textarea white-text"
                            placeholder="{{location}}"></textarea>
                        <label for="user-location">location</label>

                    </div>
                </div>
            </div>


            <div class="col s12 m8">
                <div class="card butlr-blue white-text">
                    <div class=" card-content">
                        <span class="card-title butlr-green-text">About Me</span>
                        <textarea id="user-about-me" class="materialize-textarea white-text long-text-box"
                            placeholder="{{about_me}}"></textarea>
                        <label for="user-about-me">About Me</label>
                    </div>
                </div>
            </div>

        </div>
        {{/each}}

        <div class="">
            {{!-- Profile pets --}}
            <h4 class="center-align">My Pets</h4>

            {{#each pets}}
            <div class="row">
                <div class="col s12">

                    <div class="card horizontal butlr-blue white-text">
                        <div class="card-image pet-image"
                            style="background-image: url('{{#if image}}{{image}}{{else}}./images/site/default-profile-1.jpg{{/if}}')">
                        </div>

                        <div class="card-stacked">
                            <div class="card-content">

                                <textarea id="pet-name{{id}}" class="materialize-textarea white-text"
                                    placeholder="{{pet_name}}"></textarea>
                                <label for="pet-name{{id}}">Name</label>

                                <textarea id="pet-image-url{{id}}" class="materialize-textarea white-text"
                                    placeholder="{{image}}"></textarea>
                                <label for="pet-image-url{{id}}">image url</label>

                                <textarea id="pet-type{{id}}" class="materialize-textarea white-text"
                                    placeholder="{{pet_type}}"></textarea>
                                <label for="pet-type{{id}}">Pet Type</label>

                                <textarea id="pet-location{{id}}" class="materialize-textarea white-text"
                                    placeholder="{{location}}"></textarea>
                                <label for="pet-location{{id}}">Location</label>

                                <textarea id="pet-about-me{{id}}" class="materialize-textarea white-text long-text-box"
                                    placeholder="{{about_me}}"></textarea>
                                <label for="pat-about-me{{id}}">About Me</label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            {{else}}
            <br>
            <p class="center-align">No pets currently</p>
            <br>
            {{/each}}

            {{!-- Profile Reviews --}}
            <h4 class="center-align">Reviews I Have Written</h4>
            {{#each reviews}}
            <div class="row">
                <div class="col s12">

                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">

                                <textarea id="review-title{{id}}" class="materialize-textarea white-text"
                                    placeholder="{{title}}"></textarea>
                                <label for="review-title{{id}}">Title</label>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="review-rating{{id}}" class="white-text">
                                            <option value="" disabled selected>{{rating}}</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <label for="review-rating{{id}}">Rating</label>
                                    </div>
                                </div>

                                <textarea id="review-text{{id}}" class="materialize-textarea white-text long-text-box"
                                    placeholder="{{review}}"></textarea>
                                <label for="review-text{{id}}">Review</label>

                            </div>
                            <div class="card-action">
                                <a href="./userProfile?id={{owner_id}}">View Profile</a>

                                <a class="waves-effect waves-light btn grey">CANCEL</a>
                                <a class="waves-effect waves-light btn butlr-green">SAVE</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {{else}}
            <br>
            <p class="center-align">No reviews currently</p>
            <br>
            {{/each}}
        </div>
    </div>
</div>


<script src="./js/testChange.js"></script>